html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  min-height: 100%;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.card {
  max-width: 500px;
  margin: 0 auto;
}

.card-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
