html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.card-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
